
header, main, footer{
  min-width:855px;
}
 header .conteiner, main .conteiner, footer .conteiner{
  max-width:855px;
  margin:auto;
}
header{
  background:white;
  overflow:auto;
}
header h1{
  float:left;
  width:570px;
}
header nav{
  float:right;
  width:285px;
}
main{
  background:white;
  display:block;
  padding-top:40px;
}
#image{
  float:right;
  backgound-color:white;
  
}
main main{
  float:left;
}
footer{
  clear:both;
  background-color:#f9e933;
}
.sitemap{
  float:right;
}
.contact{
  float:left;
}














































































/*Dfrf dfrfd dfrf*/